
<div class="container-fluid">
    <div class="row">
        <nav class="nav navbar-nav">
            <ul class="nav nav-pills nav-stacked" id="tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#pro-editor" data-toggle="pill"><span class="glyphicon glyphicon-pencil"></span></a>
                </li>
                <li role="presentation">
                    <a href="#wizard" data-toggle="pill"><span class="glyphicon glyphicon-wrench"></span></a>
                </li>
            </ul>
        </nav>
        <div class="col-md-10 tab-content">
            <div id="pro-editor" class="tab-pane fade in active">
                <editor></editor>
            </div>
            <div id="wizard" class="tab-pane fade">
                <div id="entity-selection-1" ng-show="selectedEntity == null">
                    <div class="row">
                        <div class="col-md-10">
                            <select id="entity" class="form-control">
                                <option selected>Please select an entity...</option>
                                <option ng-repeat="entity in entityTypes">{{entity.name}}</option>
                            </select>
                        </div>
                            <button class="btn btn-default" type="button" ng-click="selectEntity()">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                    </div>
                </div>
                <div id="entity-selection-2" ng-hide="selectedEntity == null">
                    <p>You have select {{selectedEntity}} to query the data.</p>
                    <button class="btn btn-default" type="button" ng-click="unselectEntity()">
                        Change Entity
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


