
<div class="container-fluid">
    <div class="row">
        <nav class="nav navbar-nav">
            <ul class="nav nav-pills nav-stacked" id="tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#pro-editor" data-toggle="pill"><span class="glyphicon glyphicon-pencil"></span></a>
                </li>
                <li role="presentation">
                    <a href="#wizard" data-toggle="pill"><span class="glyphicon glyphicon-wrench"></span></a>
                </li>
            </ul>
        </nav>
        <div class="col-md-10 tab-content">
            <div id="pro-editor" class="tab-pane fade in active">
                <editor></editor>
            </div>
            <div id="wizard" class="tab-pane fade">
                <div class="selection" ng-show="selectedEntity == null || changingEntity">
                    <div class="row row-margin">
                        <div class="col-md-7">
                            <select id="entity" class="form-control">
                                <option selected>--Please select an entity--</option>
                                <option ng-repeat="entity in entities" value="{{$index}}">{{entity.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default" type="button" ng-click="selectEntity()">
                                Select<i class="glyphicon glyphicon-ok"></i>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default" type="button" ng-click="cancelChange()" ng-show="changingEntity">
                                Cancel<i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="selection" ng-hide="selectedEntity == null || changingEntity">
                    <div class="row row-margin">
                        <div class="col-md-8">
                            <h4>You have selected <b>{{selectedEntity.name}}</b>.</h4>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-default" type="button" ng-click="changeEntity()">
                                Change<i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="main-wizard" ng-hide="intermediateResults == null">
                    <div ng-repeat="result in intermediateResults">
                        <mxl-intermediate></mxl-intermediate>
                        <div class="selection" ng-hide="result.functions == null">
                            <mxl-wizard-methods></mxl-wizard-methods>
                        </div>
                    </div>
                    <div class="selection" ng-hide="intermediateResults == null || endOfWizard" >
                        <img class="add-button" alt="Add a function" title="Add a function"
                             src="statics/images/add-button.png" ng-click="addFunction()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
